<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>Skule Vote</title>
    <!-- Materialize: Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Materialize: Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 

    <style>
        body {
            background-color: #3B739E;
            color: #333;
            font-size: 14px;
        }
        form {
            max-width: 500px;
            width: 90%;
            background-color: white;
            margin: 50px auto;
            padding: 20px;
            border-radius: 5px;
        }
        h1 {
            font-size: 24px;
            margin: 0 auto 20px;
            text-align: center;
        }
        .form-group > label {
            font-size: 14px;
            color: #333;
        }
        .radio-group > p > label > span {
            color: #555;
        }
    
    </style>
</head>
<body>
<form action="/api/bypasscookie/" method="post">
    <h1>Skule Vote</h1>
    {% csrf_token %}
    <div class="form-group">
        <div class="row">
            <div class="col s12" style="padding: 0; margin-bottom: 0;">
                <div class="input-field" style="margin-bottom: 0;">
                    <input placeholder="Student ID Hash" value="213asdf2348u9" maxlength="16" class="validate" type="text" name="pid" id="pid" required>
                    <label for="pid">Student ID Hash*</label>
                    <span class="helper-text">Assumed to be unique per person. Will overwrite old info</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="isstudent">Is Student*</label>
        <div class="radio-group">
            <p>
                <label for="isstudent-0">
                    <input class="with-gap" name="isstudent" id="isstudent-0" value="True" type="radio" checked required>
                    <span>Yes</span>
                </label>
            </p>
            <p>
                <label for="isstudent-1">
                    <input class="with-gap" name="isstudent" id="isstudent-1" value="False" type="radio" required>
                    <span>No</span>
                </label>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="primaryorg">Is Engineering*</label>
        <div class="radio-group">
            <p>
                <label for="primaryorg-0">
                    <input class="with-gap" name="primaryorg" id="primaryorg-0" value="APSC" type="radio" checked required>
                    <span>Yes</span>
                </label>
            </p>
            <p>
                <label for="primaryorg-1">
                    <input class="with-gap" name="primaryorg" id="primaryorg-1" value="null" type="radio" required>
                    <span>No</span>
                </label>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="isundergrad">Is Undergrad*</label>
        <div class="radio-group">
            <p>
                <label for="isundergrad-0">
                    <input class="with-gap" name="isundergrad" id="isundergrad-0" value="True" type="radio" checked required>
                    <span>Yes</span>
                </label>
            </p>
            <p>
                <label for="isundergrad-1">
                    <input class="with-gap" name="isundergrad" id="isundergrad-1" value="False" type="radio" required>
                    <span>No</span>
                </label>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="isregistered">Is Registered*</label>
        <div class="radio-group">
            <p>
                <label for="isregistered-0">
                    <input class="with-gap" name="isregistered" id="isregistered-0" value="True" type="radio" checked required>
                    <span>Yes</span>
                </label>
            </p>
            <p>
                <label for="isregistered-1">
                    <input class="with-gap" name="isregistered" id="isregistered-1" value="False" type="radio" required>
                    <span>No</span>
                </label>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="assocorg">Is PEY*</label>
        <div class="radio-group">
            <p>
                <label for="assocorg-0">
                    <input class="with-gap" name="assocorg" id="assocorg-0" value="AEPEY" type="radio" required>
                    <span>Yes</span>
                </label>
            </p>
            <p>
                <label for="assocorg-1">
                    <input class="with-gap" name="assocorg" id="assocorg-1" value="null" type="radio" checked required>
                    <span>No</span>
                </label>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="yofstudy">Year of study*</label>
        <div class="radio-group">
            <p>
                <label for="yofstudy-0">
                    <input class="with-gap" name="yofstudy" id="yofstudy-0" value="1" type="radio" checked required>
                    <span>1</span>
                </label>
            </p>
            <p>
                <label for="yofstudy-1">
                    <input class="with-gap" name="yofstudy" id="yofstudy-1" value="2" type="radio" required>
                    <span>2</span>
                </label>
            </p>
            <p>
                <label for="yofstudy-2">
                    <input class="with-gap" name="yofstudy" id="yofstudy-2" value="3" type="radio" required>
                    <span>3</span>
                </label>
            </p>
            <p>
                <label for="yofstudy-3">
                    <input class="with-gap" name="yofstudy" id="yofstudy-3" value="4" type="radio" required>
                    <span>4</span>
                </label>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="attendance">Attendance*</label>
        <div class="radio-group">
            <p>
                <label for="attendance-0">
                    <input class="with-gap" name="attendance" id="attendance-0" value="FT" type="radio" checked required>
                    <span>Full-time</span>
                </label>
            </p>
            <p>
                <label for="attendance-1">
                    <input class="with-gap" name="attendance" id="attendance-1" value="PT" type="radio" required>
                    <span>Part-time</span>
                </label>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="campus">Campus*</label>
        <div class="radio-group">
            <p>
                <label for="campus-0">
                    <input class="with-gap" name="campus" id="campus-0" value="utsg" type="radio" checked required>
                    <span>UTSG</span>
                </label>
            </p>
            <p>
                <label for="campus-1">
                    <input class="with-gap" name="campus" id="campus-1" value="utm" type="radio" required>
                    <span>UTM</span>
                </label>
            </p>
            <p>
                <label for="campus-2">
                    <input class="with-gap" name="campus" id="campus-2" value="utsc" type="radio" required>
                    <span>UTSC</span>
                </label>
            </p>
        </div>
    </div>

    <div class="form-group">
        <label for="postcd">Discipline*</label>
        <div class="radio-group">
            <p>
                <label for="postcd-0">
                    <input class="with-gap" name="postcd" id="postcd-0" value="AEESCBLAH" type="radio" checked required>
                    <span>EngSci</span>
                </label>
            </p>
            <p>
                <label for="postcd-1">
                    <input class="with-gap" name="postcd" id="postcd-1" value="AEELEBLAH" type="radio" required>
                    <span>Elec</span>
                </label>
            </p>
            <p>
                <label for="postcd-2">
                    <input class="with-gap" name="postcd" id="postcd-2" value="AECPEBLAH" type="radio" required>
                    <span>Comp</span>
                </label>
            </p>
            <p>
                <label for="postcd-3">
                    <input class="with-gap" name="postcd" id="postcd-3" value="AEMECBLAH" type="radio" required>
                    <span>Mech</span>
                </label>
            </p>
            <p>
                <label for="postcd-4">
                    <input class="with-gap" name="postcd" id="postcd-4" value="AECHEBLAH" type="radio" required>
                    <span>Chem</span>
                </label>
            </p>
            <p>
                <label for="postcd-5">
                    <input class="with-gap" name="postcd" id="postcd-5" value="AEINDBLAH" type="radio" required>
                    <span>Indy</span>
                </label>
            </p>
            <p>
                <label for="postcd-6">
                    <input class="with-gap" name="postcd" id="postcd-6" value="AEMMSBLAH" type="radio" required>
                    <span>MSE</span>
                </label>
            </p>
            <p>
                <label for="postcd-7">
                    <input class="with-gap" name="postcd" id="postcd-7" value="AELMEBLAH" type="radio" required>
                    <span>Min</span>
                </label>
            </p>
            <p>
                <label for="postcd-8">
                    <input class="with-gap" name="postcd" id="postcd-8" value="AEENGBLAH" type="radio" required>
                    <span>Trackone</span>
                </label>
            </p>
            <p>
                <label for="postcd-9">
                    <input class="with-gap" name="postcd" id="postcd-9" value="AECIVBLAH" type="radio" required>
                    <span>Civil</span>
                </label>
            </p>
        </div>
    </div>
    <div style="display: flex; justify-content: center;">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
    </div>
</form>
</body>
</html>